.content {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 48px;
}
.task {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.input {
  max-width: 377px;
}
.decision {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  row-gap: 78px;
  column-gap: 16px;
}
